@require("bootstrap");
.loginForm {
  width: 500px;
  height: 400px;
  margin: auto;
  border: 3px solid #f1f1f1;
  background-color: lightblue;
  margin-top: 50px;
}
.list-card {
  border: 1px solid gray;
  border-radius: 0.25rem;
  margin-left: 8px;
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 8px;
  font-size: 12px;
}
.image {
  float: left;
  width:150px;
  height:150px;
}
.clearfix {
  overflow: auto;
}
.information{
  margin-top: 40px;
}
.button {
  margin-top: 30px;
  padding: 10px;
  width: 100px;
  background-color: cornflowerblue;
  border: 2px solid lightgray;
  border-radius: 0.8em;
  font-size: 15px;
  margin-left: 90px
}
.form {
  margin: auto;
  width:90%;
  align-items: center;
}
.header {
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 30px;
  margin-left: 180px;
}
.add-btn {
  width:150px;
  height: 40px;
  font-size: 14px;
  margin-left: 500px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  width: 100% !important;
  height: 400px !important;
  background-color:lightblue;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}





.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}



.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.login-btn {
  text-align:center;
  margin-top: 50px;
}



.button:hover,
.button:visited {
  background: #006cba;
  color: #fff;
}

.formClass {
  height: 34px;
  font-size: 13px;
}

.formLabel {
  font-size: 13px;
}

.dialog-header {
text-align: center;
margin-bottom: 25px;
color: darkblue;
}
.btn-grp {
  float: right;
  margin-top: 10px;
}
.btn-add {
  width:80px;
  height: 30px;
  justify-content: space-between;
  font-size: 14px;
  background-color: cornflowerblue;
  margin-right: 5px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.select-box {
  width: 25%;
}