body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.warning {
  background-color: red;
  text-align: center;
  width: 100%;
  padding: 10px;

  font-size: 14pt;
  color: white;
}
.test {
  background-color: cornflowerblue;
  text-align: center;
  padding: 25px;
  color: whitesmoke;
  font-size: 25px;
}
.appimg {
    width: 10%;
    height: auto;
}
.appDiv {
  text-align: center;
}
.para {
  text-align: center;
  color: blue;
  font-size: 50px;
  padding: 50px;
}
